/*globales --------------------------------------------------------------------*/
:root{
    --ysana-color-1: #ea0029;
    --ysana-color-2: #00abc8;
    --ysana-color-3: #97bf0d;
    --ysana-color-4: #93117e;
    --ysana-color-5: #f39400;
    --ysana-color-6: #000f5a;
    --ysana-color-7: #e6007e;
    --ysana-color-8: #F23F00;    
}
html, body { margin:0; padding:0; height: 100%; }
body { font-family: 'IBM Plex Sans', sans-serif; font-weight: normal!important; overflow-x: hidden; display: flex; min-height: 100vh; flex-wrap: wrap; flex-direction: row; }
/*globales --------------------------------------------------------------------*/

/*correcciones bootstrap ------------------------------------------------------*/
.cb-ajustado [class*="col-"] { padding:0;margin:0; }
/*correcciones-----------------------------------------------------------------*/
/*Ampliacion bootstrap -------------------------------------------------------*/

/*Ampliacion bootstrap -------------------------------------------------------*/

/*Ysana 2.0 ----------------------------------------------------------------------*/
.max-ysana{
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}
.parallax{ 
    /* Imagen a usar o fondo en blanco.. */
    /* background-image: url("img_parallax.jpg"); */
  
    /* Altura maxima */
    /* height: 100%; */
    /* Esto hace el "efecto" */
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
.parallax-sobreysana{
    min-height: 100%;
    background-attachment: scroll;
    background-image: url("../img/home/2.jpg");
}
.parallax-home1{
    height: 100%;
    /* background-attachment: inherit; */
    background-image: url("../img/home/1.jpg");
}
.parallax-home2{
    height: 70%;
    min-height: 800px;
    /* background-image: url("../img/test1.jpeg"); */
}
.parallax-home3{
    height: 350px;
    background-image: url("../img/test2.jpg");
    /* background-attachment: scroll; */
}
.parallax-home4{
    /* height: 70%; */
    background-position: top right;
    background-size: contain;
    /* background-attachment: scroll;
    background-position: top right;
    background-repeat: no-repeat;
    background-size: inherit; */
    background-image: url("../img/test3.png");
}
.parallax-home5{
    /* height: 80%; */
    background-color: var(--ysana-color-2);
    /* background-attachment: scroll;
    background-position: top right;
    background-repeat: no-repeat;
    background-size: inherit;
    background-image: url("../img/test3.png"); */
}
#panel-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #000;
    flex-wrap: wrap;
    /* background-color: #cacaca; */
}
#panel-top a{
    color: var(--ysana-color-2);
    font-size: 1rem;
}
#panel-top .rrss-top img{
    padding: .4rem 0rem;
    max-width: 24px;
}
#panel-top .rrss-top{
    padding-right: 1rem;
    padding-left: 1rem;
}
#panel-top .nav .nav-item.no-drop .nav-link{
    position: relative;
    font-weight: bold;
}
#panel-top .nav .nav-item.no-drop .nav-link::after{
    content: '';
    height: 50%;
    width: 1px;
    position: absolute;
    right: 0;
    top: calc(50% - 25%);
    background-color: var(--ysana-color-2);
}

#menu-top .navbar-brand{
    margin-left: 1rem;
}
#menu-top a{
    color: var(--ysana-color-2);
    font-size: 1rem;
    text-align: right;
}
#menu-top .nav-item .nav-link{
    padding-left: 1.3rem;
    /* padding-right: 1.3rem; */
}
#menu-top .nav-item.active{
    color: var(--ysana-color-2);
    font-weight: bold;
}
#menu-top .nav-item:hover{
    color: var(--ysana-color-2);
    font-weight: bold;
}
.texto-subhome{
    background-color: var(--ysana-color-2);
    text-align: center;
    width: 100%;
}
.texto-subpolaroid{
    width: 100%;
    padding: 3rem 1rem;
    text-align: center;
    background-color: #93B7C5;
}
.texto-subhome h1{
    padding: 3rem 1rem;
    color: white;
    margin-bottom: 0;
    font-weight: 100;
}
.texto-subpolaroid h1{
    color: white;
    margin-bottom: 0;
    font-weight: 500;
}
#menu-sticky{
    /* position: sticky; */
    position: fixed;
    top: 0rem;
    width: 100%;
    background-color: white;
    z-index: 1024;
}
#paneles{
    display: flex;
    align-items: center;
    height: 100%;
    min-height: 100%;
}
#paneles-clubysana{
    display: flex;
    align-items: center;
    height: 100%;
    padding: 2rem;
}
#paneles-clubysana .panel{
    flex-direction: column;
    align-items: start;
}
.panel{
    /* position: relative;
    width: 50%;
    padding: 2rem; */
    /* height: 100%; */
}
.panel:first-child{
    /* background-color: #cacaca; */
}
.panel:last-child{
    /* background-color: #c2c2c2; */
}
.panel-izq{
    display: flex;
    justify-content: center;
    align-items: center;
}
.panel-izq h1{
    font-weight: 500;
    color: var(--ysana-color-2);
    padding-bottom: .5rem;
    border-bottom: 1px solid #000;
}
.panel-izq p{
    padding-top: 1rem;
    font-weight: 400;
    font-size: 1.1rem;
    color: #000;
}
.panel-der{
    height: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-bg-color-2:hover{ color: white; }
.btn-bg-color-2{
    color: white;
    font-weight: 500;
    background-color: var(--ysana-color-2);
    text-decoration: none;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border: 2px solid var(--ysana-color-2);
}
.btn-bg-color-3:hover{ color: white; }
.btn-bg-color-3{
    color: white;
    font-weight: 500;
    background-color: var(--ysana-color-7);
    text-decoration: none;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border: 2px solid var(--ysana-color-7);
}
.btn-bg-color-white:hover{ color: white; }
.btn-bg-color-white{
    color: white;
    font-weight: 500;
    background-color: transparent;
    text-decoration: none;
    border: 2px solid white;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
#redes-sociales{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
#redes-sociales h1{
    margin-bottom: 2rem;
    color: #000;
}
#redes-sociales p{
    max-width: 380px;
    text-align: center;
    color: #000;
}
#paneles-clubysana .logo-ysana{
    padding-bottom: 1rem;
    border-bottom: 1px solid #000;
}
#paneles-clubysana p{
    padding-top: 2rem;
    font-weight: 400;
    font-size: 1rem;
    color: #000;
}
#form-contacto{
    /* display: flex;
    align-items: center;
    height: 100%; */
}
#form-contacto h1{
    color: white;
    margin-bottom: 2rem;
}
#form-contacto p{
    font-size: 1.4rem;
    color: white;
    max-width: 500px;
    font-weight: 500;
    line-height: 2.3rem;
}
/* #form-contacto .contacto{
    width: 50%;
    padding: 0rem 3rem;
} */
#form-contacto .form-group label{
    color: white;
    font-weight: 500;
}
#form-contacto .form-control{
    padding: .2rem .75rem;
}
#btnEnviar{
    border-radius: 1rem;
}
#polaroid{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem;
    /* position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%); */
}
/* .polaroid{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    max-width: 280px;
    z-index: 1;
} */
/* .polaroid{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    max-width: 280px;
    z-index: 1;
} */
.polaroid{
    max-width: 33.33%;
}
.pol{
    max-width: 100%;
    /* max-width: 280px; */
}
.polzi-1{
    transform: rotate(30deg);
    z-index: 1;
}
.polzi-2{
    transform: rotate(-20deg);
    z-index: 3;
}
.polzi-3{
    transform: rotate(20deg);
    z-index: 2;
}
.polzi-4{
    transform: rotate(-30deg);
    z-index: 2;
}
.polzi-5{
    transform: rotate(5deg);
    z-index: 2;
}
#footer{
    align-self: flex-end;
    background-color: white;
    text-align: center;
    width: 100%;
    overflow: hidden;
}
#footer .list-footer{
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
}
#footer .list-footer-item{
    display: block;
    text-align: left;
}
#footer .list-footer-item.titulo{
    font-weight: 600;
    color: var(--ysana-color-2);
    padding-left: 0;
}
#footer .list-footer-item{
    padding-left: 1rem;
    font-weight: 400;
    color: var(--ysana-color-2);
}
#footer .list-footer-item a{
    color: var(--ysana-color-2);
}
#cookies_policy_wrapper{
    /* visibility: hidden; */
    width: 100%;
    max-width: 75%;
    background-color: #333;
    color: #fff;
    text-align: justify;
    border-radius: 2px;
    padding: 1rem 2rem;
    /* position: fixed; */
    z-index: 999999;
    position: fixed;
    left: 50%;
    bottom: 1rem;
    transform: translate(-50%, 0%);
    -webkit-transform: translate(-50%, 0%);
}
#sobreysanaslider>div{
    display: flex;
    justify-content: start;
    align-items: center;
    height: 100%;
}
#sobreysanaslider>div h1{
    font-weight: 500;
    color: #4A4A49;
}


.btn-bg-color-4:hover{ color: white; }
.btn-bg-color-4{
    background-color: #93B7C5;
    color: white;
    font-weight: bold;
}

#sobreysana{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#sobreysana .ttl h1{
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    font-weight: 500;
    color: #4A4A49;
}

#sobreysana .carteles{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.carteles .caja{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 240px; /* width: 220px; */
    min-height: 260px;
    /* border: 1px solid green; */
    box-shadow: 0px 0px 26px rgba(150, 150, 150, 0.8);
    margin-bottom: 2rem;
    text-align: center;
    overflow: hidden;
    margin: 1rem;
}

.carteles .caja img{
    padding: 2.5rem;
    max-width: 100%;
    height: auto;
    opacity: 0.8;
}
#conoceysana{
    overflow: hidden;
    margin-top: 3rem;
}
/* #conoceysana .img-conoceysana{
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../img/home/3.jpg');
    min-height: 300px;
} */
#conoceysana .ttl{
    margin-bottom: 2rem;
    padding-bottom: .5rem;
    border-bottom: 1px solid #000;
}
#conoceysana .texto{
    text-align: justify;
}
#sliderysana{
    width: 100%;
    height: 100%;
    min-height: 100%;
    /*  */
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-image: url('../img/home/1.jpg'); */
}
#conoceysana .conoce-1{
    padding-left: 2rem;
}
#conoceysana .conoce-2 .conoceysana{
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;
}
#sliderysanamenos-xl{
    width: 100%;
    height: 100%;
    min-height: 300px;
    /*  */
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-image: url('../img/home/1.jpg'); */
    margin-bottom: 2rem;
    position: relative;
}

.opacity-05{
    opacity: 0.4;
    transition-duration: 2.5s;
    transition-delay: 0;
}

.wrapper1,.wrapper2{
    -webkit-transition: background-image .8s ease-in-out;
    transition: background-image .8s ease-in-out;
}

.botonslider{
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0%);
    -webkit-transform: translate(-50%, 0%);
    /* background-color: red;
    width: 128px;
    height: 32px; */
}
.botonslider .slider-redonda{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 1rem;
    border: 3px solid #93b7c5;
    margin-left: .25rem;
    margin-right: .25rem;
}

.slider-redonda.active{
    background-color: #93b7c5;
}
#transparencia{
    margin-top: 5rem;
    width: 100%;
    background-image: url('../img/home/4.jpg');
}
#transparencia div{
    display: table;
    margin-left: auto;
    margin-right: auto;
    padding: 3.5rem 2rem;
}
#transparencia h1{
    font-size: 1.4rem;
    text-align: center;
    max-width: 800px;  
}
#garantia{
    margin-top: 3rem;
    overflow: hidden;
    text-align: center;
}
.timeline{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.timeline .li{
    position: relative;
    transition: all 200ms ease-in;
    margin-left: .125rem;
    margin-right: .125rem;
    height: 64px;
}
.timeline .li:first-child{
    margin-left: 0rem;
}
.timeline .li:last-child{
    margin-right: 0rem;
}
.li .imagen{
    position: relative;
    border-top: 2px dashed gray;
    padding: 0px 100px;
    display: flex;
    justify-content: center;
    /* border-top: 2px solid #D6DCE0; */
    position: relative;
    transition: all 200ms ease-in;
}
.li .imagen::before{
    background-color: #66DC71;
    border: none;
    transition: all 200ms ease-in;
    content: url(../img/add.png);
    /* width: 25px;
    height: 25px;
    background-color: white;
    border-radius: 25px;
    border: 1px solid #ddd; */
    position: absolute;
    top: -20px;
    transition: all 200ms ease-in;
}
#garantia .texto .ttl{
    font-weight: 500;
}
#garantia .texto .txt{
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}
#garantia .texto{
    margin-bottom: 4rem;
}

.li .imagen::after{
    position: absolute;
    top: -48px;
    left: 50%;
    transform: translate(-50%, 0%);
    -webkit-transform: translate(-50%, 0%);
}
.li:nth-child(1) .imagen::after{
    content: 'Imágen 1';
}
.li:nth-child(2) .imagen::after{
    content: 'Imágen 2';
}
.li:nth-child(3) .imagen::after{
    content: 'Imágen 3';
}
.li:nth-child(4) .imagen::after{
    content: 'Imágen 4';
}
.li:nth-child(5) .imagen::after{
    content: 'Imágen 5';
}
.li:nth-child(6) .imagen::after{
    content: 'Imágen 6';
}

#productos{
    width: 100%;
    /* background-color: red; */
    margin-top: 128px;
}
#todosproductos{
    display: flex;
    justify-content: center;
    min-height: 450px;
    align-items: center;
}
.producto-caja{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 250px;
    /* background-color: gray; */
    align-items: flex-start;
}
#todosproductos .ttl{
    color: var(--ysana-color-2);
    font-weight: 600;
    position: relative;
}
#todosproductos .ttl::before{
    content: "";
    position: absolute;
    bottom: -12px;
    left: 0px;
    background-color: var(--ysana-color-2);
    width: 180px;
    height: 4px;
}
#todosproductos .txt{
    margin-top: 2rem;
    font-weight: 600;
}
.centrar-vertical{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.centrar-vertical.der{
    justify-content: flex-end;
}
#productos .colapsad{
    padding-left: 1rem;
}
#productos .linea{
    border-bottom: 3px solid var(--ysana-color-2);
    width: 100%;
}
/* #productos .linea{
    border-bottom: 3px solid var(--ysana-color-2);
    width: 100%;
    display: none;
} */
#productos .linea+div:not(.show){
    border-bottom: 3px solid var(--ysana-color-2);
    width: 100%;
    display: none;
}
#productos .card{
    border: 0px;
    border-top: 1px solid gray;
    border-bottom: 3px solid var(--ysana-color-2);
}
#productos  .contenedor .ttl{
    color: var(--ysana-color-2);
    font-weight: 600;
    position: relative;
}
#productos  .contenedor .txt{
    margin-top: 1rem;
    font-weight: 600;
}

.productos-collapse{
    display: flex;
    flex-flow: row wrap;
    /* justify-content: space-around; */
}
.productos-collapse .viaje{
    display: flex;
    flex-direction: column;
    min-width: 220px;
    max-width: 220px;
    margin-left: 1rem;
    margin-right: 1rem;
    min-height: 400px;
    margin-bottom: 1rem;
}
.productos-collapse .viaje:hover{
    cursor: pointer;
    box-shadow: 0px 0px 12px #0000007a;
    text-decoration: none;
}
/* .productos-collapse .viaje:first-child{
    margin-left: 0rem;
    margin-right: 1rem;
}
.productos-collapse .viaje:last-child{
    margin-left: 1rem;
    margin-right: 0rem;
} */
.productos-collapse .viaje img{
    min-height: 180px;
    max-height: 180px;
}
.productos-collapse .viaje .texto{
    margin-top: auto;
    background-color: var(--ysana-color-2);
    min-height: 150px;
    max-height: 150px;
    display: flex;
    flex-direction: column;
}
.productos-collapse .viaje h5{
    margin-top: auto;
    text-align: center;
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: auto;
    color: white;
}
#farmaciacercana{
    width: 100%;
    background-color: var(--ysana-color-2);
    margin-top: 3rem;
}
#franjafarmacia{
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.btn.b-white{
    border: 2px solid #FFF;
}
#listafarmacias{
    max-height: 300px;
    min-height: 300px;
    overflow-y: auto;
}
#listafarmacias li.active{
    background-color: var(--ysana-color-2);
    border-color: var(--ysana-color-2);
}
#listafarmacias li.item-farmacia{
    cursor: pointer;
}
#mapagoogle{
    margin-top: 1rem;
}
#modalFarmacia{
    padding: 0px!important;
}


































@media (max-width: 462px){
    .timeline{
        flex-direction: column;
    }
    .li .imagen{
        padding: 32px 0px;
        border-top: 0px dashed gray;
        border-right: 2px dashed gray;
    }
    .li .imagen::before{
        top: 0px;
    }
    #modalFarmacia .modal-dialog{
        margin: 0rem;
    }
}




@media (max-width: 575px){
    #mapagoogle{
        margin-top: 1rem;
        margin-bottom: 5rem;
    }
    .texto-subhome h1{
        font-size: 1.25rem;
    }
    #menu-top .nav-item .nav-link{
        padding-right: .25rem;
    }
    #polaroid{
        padding: 2.5rem;
    }
    .parallax-home4 {
        background-size: cover;
        /* min-height: 100%; */
    }
    #panel-top .bienvenidoysana{
        font-size: .7rem;
    }
    /* .parallax-home5{
        height: 100%;
        min-height: 1000px;
    } */
    #form-contacto .contacto-1{
        padding: 2rem 0rem 0rem 2rem;
    }
    #form-contacto .contacto-1 h1{
        font-size: 2rem;
        margin-bottom: 1rem;
    }
    #form-contacto .contacto-1 p{
        font-size: 1rem;
    }
    #form-contacto .contacto-1 img{
        margin-top: 0;
    }
    #form-contacto .contacto-2{
        padding: 2rem 0rem 2rem 2rem;
    }
    #paneles .panel-izq h1{
        font-size: 1.5rem;
    }
    #paneles .panel-izq p{
        font-size: 1rem;
    }
    #paneles .panel-izq{
        margin-bottom: 2rem;
    }
    .texto-subpolaroid h1{
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }
    .conoceysana .ttl{
        font-size: 1.75rem;
    }
    #sobreysanaslider>div>div{
        max-width: 600px;
        padding-left: 2rem;
        padding-right: 2rem;
    }
    #sobreysanaslider>div>div>h1{
        font-size: 2rem;
        margin-bottom: 2.25rem;
    }
    #transparencia h1{
        font-size: 1rem;
    }
    #todosproductos .contenedor{
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .producto-caja{
        padding-left: 1rem;
        /* padding-right: 1rem; */
    }
    .img-g-maps{
        width: 32px;
        height: 32px;
        display: block;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    #modalFarmacia{
        padding: 0px!important;
    }
    .texto-subhome h1{
        font-size: 1.5rem;
    }
    #polaroid{
        padding: 2.5rem;
    }
    .parallax-home2 {
        min-height: 900px;
    }
    .parallax-home4 {
        background-size: cover;
    }
    #paneles-clubysana .panel-izq{
        max-width: 100%;
    }
    #form-contacto .contacto-1{
        padding: 2rem 0rem 0rem 2rem;
    }
    #form-contacto .contacto-2{
        padding: 2rem 0rem 2rem 2rem;
    }
    .texto-subpolaroid{
        display: flex;
        justify-content: space-around;
    }
    .texto-subpolaroid h1{
        font-size: 2rem;
    }
    #sobreysanaslider>div>div{
        max-width: 600px;
        padding-left: 2rem;
        padding-right: 2rem;
    }
    #sobreysanaslider>div>div>h1{
        font-size: 2rem;
    }
    #transparencia h1{
        font-size: 1.2rem;
    }
    #todosproductos .contenedor{
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .producto-caja{
        padding-left: 1rem;
        /* padding-right: 1rem; */
    }
    .img-g-maps{
        display: none;
    }
    .producto-caja .flex-row-reverse .izq{
        text-align: right;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .texto-subhome h1{
        font-size: 2rem;
    }
    .parallax-home2 {
        min-height: 550px;
    }
    .parallax-home4 {
        background-size: inherit;
        height: 70%;
    }
    #form-contacto .contacto-1{
        padding: 2rem 0rem 0rem 2rem;
    }
    #form-contacto .contacto-1 h1{
        font-size: 2rem;
        margin-bottom: 1rem;
    }
    #form-contacto .contacto-1 p{
        font-size: 1rem;
        line-height: 1.5rem;
    }
    #form-contacto .contacto-2{
        padding: 2rem 0rem;
    }
    .texto-subpolaroid{
        display: flex;
        justify-content: center;
    }
    .texto-subpolaroid a{
        margin-left: 2rem;
    }
    #sobreysanaslider>div>div{
        max-width: 600px;
        margin-left: 5rem;
    }
    #transparencia h1{
        font-size: 1.4rem;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    #menu-top .nav-item .nav-link{
        padding-right: 1.3rem;
    }
    .parallax-home2 {
        min-height: 700px;
    }
    #paneles-clubysana .panel-izq{
        max-width: 75%;
    }
    #form-contacto .contacto-1{
        padding: 2rem 1rem 0rem 2rem;
    }
    #form-contacto .contacto-2{
        padding: 2rem 0rem 2rem 1rem;
    }
    #form-contacto .contacto-1 h1{
        font-size: 2.5rem;
        margin-bottom: 1rem;
    }
    /* #form-contacto .contacto-1{
        padding: 2rem 0rem 0rem 2rem;
    }
    #form-contacto .contacto-1 h1{
        font-size: 2rem;
        margin-bottom: 1rem;
    }
    #form-contacto .contacto-1 p{
        font-size: 1rem;
        line-height: 1.5rem;
    }
    #form-contacto .contacto-2{
        padding: 2rem 0rem;
    } */
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .texto-subhome h1{
        font-size: 2.5rem;
    }
    /* .parallax-home5 {
        height: 80%;
    } */
    #paneles-clubysana .panel-izq{
        max-width: 50%;
    }
    .parallax-home4{
        height: 70%;
    }
}




/* 

@media (max-width: 992px){
    #menu-top .nav-item .nav-link{
        padding-right: .25rem;
    }
    #menu-top a{
        text-align: right;
    }
    .texto-subhome h1{
        font-size: calc(1em + 1vmin);
    }
}








@media (min-width: 768px) and (max-width: 992px){

}

@media (min-width: 768px) and (max-width: 992px){

}
@media (min-width: 992px) and (max-width: 1280px) {
    .texto-subhome h1{
        font-size: calc(0.75em + 3vmin);
    }
} */




/*Ysana 2.0 ----------------------------------------------------------------------*/

/* 
@media (max-width: 768px){  }
@media (max-width: 1024px){  }
@media (max-width: 575.98px) {  }
@media (max-width: 768px){  }
@media (min-width: 576px) and (max-width: 767.98px) {  }
@media (min-width: 768px) and (max-width: 991.98px) {  }
@media (min-width: 992px) and (max-width: 1199.98px) {  }
@media (min-width: 1200px) {  }
@media (min-width: 1200px){  } */